li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Portfolio {
  box-sizing: border-box;
  border: 1px solid linen;
  padding: 1.5em;
}
.Portfolio :first-child {
  margin-top: 0;
}
.Portfolio :last-child {
  margin-bottom: 0;
}
.portfolio-item {
  display: flex;
  align-items: center;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 3em -1.5em;
  height: 50vw;
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    height: 562px;
  }
}
.portfolio-item .info {
  box-sizing: border-box;
  visibility: hidden;
  display: block;
  background: rgb(31, 31, 31);
  box-sizing: border-box;
  border: 1px solid linen;
  color: linen;
  height: 80%;
  max-height: 0;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1.5em;
  width: 75%;
}
.portfolio-item:hover .info,
.portfolio-item.open .info {
  max-height: 100%;
  visibility: visible;
  transition: max-height 500ms linear, padding 300ms linear;
  padding: 1.5em;
}
i {
  color: skyblue;
  font-family: "fontello";
  font-size: 32px;
  font-style: normal;
  text-align: right;
}
i:hover {
  color: linen;
}

@media screen and (max-width: 800px) {
  .portfolio-item .info {
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .portfolio-item {
    background-size: 125% auto;
    height: 62.5vw;
  }
  .portfolio-item .info {
    width: 100%;
    padding: 0.5em;
  }
  .portfolio-item:hover .info,
  .portfolio-item.open .info {
    padding: 0.5em;
  }
  i {
    font-size: 1em;
  }
  h3 {
    display: inline;
    margin-right: 1em;
  }
  p {
    margin: 0.5em 0;
  }
}

.natuurstad {
  background-image: url("../static/media/Natuurstad-screenshot.jpg");
}
.kor-utrecht {
  background-image: url("../static/media/KOR-Utrecht-screenshot.jpg");
}
.nsob {
  background-image: url("../static/media/nsob-screenshot.jpg");
}
.leraarvanbuiten {
  background-image: url("../static/media/leraarvanbuiten-screenshot.jpg");
}
.hollandhightech {
  background-image: url("../static/media/hollandhightech-screenshot.jpg");
}
.ohmmmm {
  background-image: url("../static/media/ohmmmm-screenshot.png");
}
.drawbsurd {
  background-image: url("../static/media/drawbsurd-screenshot.jpg");
}
