@import "./assets/styles/style.scss";

header {
  box-sizing: border-box;
  max-width: 1600px;
  margin: 0 auto;
}

.social-media-links {
  display: flex;
  justify-content: flex-end;
  a {
    display: inline-block;
    font-family: "fontello";
    font-size: 32px;
    padding: 0.5em;
    &:hover {
      color: $linen;
    }
  }
}
