header {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
}
main {
  max-width: 1000px;
  margin: 3em auto;
  padding: 0 3vw;
}
i {
  font-style: normal;
}
.social-media-links {
  display: flex;
  justify-content: flex-end;
}
.social-media-links a {
  display: inline-block;
  font-family: "fontello";
  font-size: 32px;
  padding: 0.5em;
}
.social-media-links a:hover {
  color: linen;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  main {
    padding: 0 1em;
  }
}
